{% extends 'base/base_admin.html' %}

{% block title %} <title>Admin Kabinet</title> {% endblock %}

{% block content %}

<div class="row row-cols-1 mt-1 px-6 row-cols-md-1 g-4" style="width: 98%;">
    {% for item in news %}
    <center>
        <div class="col-6 mt-5">
            <div class="card p-3">
                <img src="{{ item.img.url }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h4><a href="{% url 'news_deteil' item.id %}" class="card-title">{{item.title}}</a></h4>
                    <p class="card-text">{{item.content|safe|truncatewords:20}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted" style="display: flex; justify-content: space-around;">
                        <p>{{item.cate}}</p>
                        <p>{{item.date|date:'M-y-d'}}</p>
                        <p>Author:{{item.author}}</p>
                    </small>
                </div>
            </div>
        </div>
    </center>
    {% endfor %}
</div>



{% endblock %}