{% extends 'base/base_admin.html' %}

{% block title %} <title>Sign up</title> {% endblock %}
{% block navbars %} {% endblock %}
{% block content %}
    <h2 class="d-flex align-items-center justify-content-center flex-column mt-2">Sign Up</h2>
    <p class="d-flex align-items-center justify-content-center flex-column mt-2" style="color: red;">{{error}}</p>
    <form action="{% url 'sign_up' %}" method="POST" class="d-flex align-items-center justify-content-center flex-column mt-4" >
        {% csrf_token %}

        <div class="mb-3 w-25">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
        </div>

        <div class="mb-3 w-25">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>

        <div class="mb-3 w-25">
            <label for="f_name" class="form-label">First Name</label>
            <input type="text" name="f_name" class="form-control" id="f_name" aria-describedby="f_nameHelp">
          </div>

          <div class="mb-3 w-25">
            <label for="l_name" class="form-label">Last Name</label>
            <input type="text" name="l_name" class="form-control" id="l_name" aria-describedby="l_nameHelp">
          </div>

        <div class="mb-3 w-25">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>

        <div class="mb-3 w-25">
            <label for="exampleInputPassword1" class="form-label">Password_1</label>
            <input type="password" class="form-control" name="password_1" id="exampleInputPassword1">
          </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <a href="{% url 'sign_in' %}" class=" nav-link active d-flex align-items-center justify-content-center flex-column mt-2">Sign In</a>

{% endblock %}